[mysqld]
datadir=/home/mysql/data/21
basedir=/usr/local/mysql
port=3306
socket=/home/mysql/data/21/mysqld.sock
character-set-server=utf8mb4
log-error=/home/mysql/data/21/mysqld.error
#sql-mode=NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY,NO_AUTO_CREATE_USER
explicit_defaults_for_timestamp
secure-file-priv=NULL
