[mysqld]
datadir=/home/mysql/data/3316
basedir=/usr/local/mysql
port=3316
socket=/home/mysql/data/3316/mysqld.sock
log-error=/home/mysql/data/3316/mysqld.error

mysqlx-port=33160
mysqlx-socket=/home/mysql/data/3316/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin
log-replica-updates=true

gtid-mode=on
enforce-gtid-consistency
#master_info_repository=TABLE
#relay_log_info_repository=TABLE

server-id=102
#binlog_checksum=none

