[mysqld]
port=3306
datadir=/home/mysql/mycluster/mysql150/mysql_data
socket=/home/mysql/mycluster/mysql150/mysql_data/my.sock

mysqlx-port=33060
mysqlx-socket=/home/mysql/mycluster/mysql150/mysql_data/myx.sock
log-error=/home/mysql/mycluster/mysql150/mysql_data/mysqld.log

ndbcluster
ndb-connectstring=localhost:1186
ndb_cluster_connection_pool=4
