[mysqld]
datadir=/home/mysql/data/04-restore
basedir=/usr/local/mysql
port=3316
socket=/home/mysql/data/04-restore/mysqld.sock
log-error=/home/mysql/data/04-restore/mysqld.error

mysqlx-port=33160
mysqlx-socket=/home/mysql/data/04-restore/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin
log-slave-updates=true

gtid-mode=on
enforce-gtid-consistency
#master_info_repository=TABLE
#relay_log_info_repository=TABLE

server-id=102
binlog_checksum=none

