[mysqld]
datadir=/home/mysql/data/04-restore2
basedir=/usr/local/mysql
port=3326
socket=/home/mysql/data/04-restore2/mysqld.sock
log-error=/home/mysql/data/04-restore2/mysqld.error

mysqlx-port=33260
mysqlx-socket=/home/mysql/data/04-restore2/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin
log-slave-updates=true

gtid-mode=on
enforce-gtid-consistency
master_info_repository=TABLE
relay_log_info_repository=TABLE

server-id=103
binlog_checksum=none

