[mysqld]
datadir=/home/mysql/data/04-node4
basedir=/usr/local/mysql
port=3426
socket=/home/mysql/data/04-node4/mysqld.sock
log-error=/home/mysql/data/04-node4/mysqld.error

mysqlx-port=34260
mysqlx-socket=/home/mysql/data/04-node4/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin
log-slave-updates=true

gtid-mode=on
enforce-gtid-consistency
master_info_repository=TABLE
relay_log_info_repository=TABLE

server-id=104
binlog_checksum=none

