[mysqld]
datadir=/home/mysql/data/lab27
basedir=/usr/local/mysql
port=3306
socket=/home/mysql/data/lab27/mysqld.sock
character-set-server=utf8mb4
log-error=/home/mysql/data/lab27/mysqld.error
#sql-mode=NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY,NO_AUTO_CREATE_USER
explicit_defaults_for_timestamp
secure-file-priv=NULL
#early-plugin-load=keyring_encrypted_file.so
#keyring_encrypted_file_data=/home/mysql/data/lab27/mysql-keyring/keyring-encrypted
#keyring_encrypted_file_password=password
#innodb_redo_log_encrypt=true
#innodb_undo_log_encrypt=true

gtid_mode=on
enforce_gtid_consistency=on
mysql_firewall_mode=ON
