[mysqld]
datadir=/home/mysql/data/3340
basedir=/usr/local/mysql
log-error=/home/mysql/data/3340/my.error
port=3340
socket=/home/mysql/data/3340/my.sock
mysqlx-port=33400
mysqlx-socket=/home/mysql/data/3340/myx.sock
log-bin=logbin
relay-log=logrelay
binlog-format=row
binlog-checksum=NONE
server-id=104

# enable gtid
gtid-mode=on
enforce-gtid-consistency=true
log-slave-updates=true

# Table based repositories
master-info-repository=TABLE
relay-log-info-repository=TABLE

# Extraction Algorithm
transaction-write-set-extraction=XXHASH64

report-host=secondary
