[mysqld]
datadir=/home/mysql/data/lab02
basedir=/usr/local/mysql
port=3306
socket=/home/mysql/data/lab02/mysqld.sock
log-error=/home/mysql/data/lab02/my.error

mysqlx-port=33060
mysqlx-socket=/home/mysql/data/lab02/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin

gtid-mode=on
enforce-gtid-consistency
log-slave-updates=true

master_info_repository=TABLE
relay_log_info_repository=TABLE

server-id=101
binlog-checksum=none

[mysqld@my1]
datadir=/home/mysql/data/my1
basedir=/usr/local/mysql
port=3310
socket=/home/mysql/data/my1/mysqld.sock
log-error=/home/mysql/data/my1/my.error

mysqlx-port=33100
mysqlx-socket=/home/mysql/data/my1/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin

gtid-mode=on
enforce-gtid-consistency
log-slave-updates=true

master_info_repository=TABLE
relay_log_info_repository=TABLE

server-id=201
binlog-checksum=none

[mysqld@my2]
datadir=/home/mysql/data/my2
basedir=/usr/local/mysql
port=3320
socket=/home/mysql/data/my2/mysqld.sock
log-error=/home/mysql/data/my2/my.error

mysqlx-port=33200
mysqlx-socket=/home/mysql/data/my2/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin

gtid-mode=on
enforce-gtid-consistency
log-slave-updates=true

master_info_repository=TABLE
relay_log_info_repository=TABLE

server-id=202
binlog-checksum=none

[mysqld@my3]
datadir=/home/mysql/data/my3
basedir=/usr/local/mysql
port=3330
socket=/home/mysql/data/my3/mysqld.sock
log-error=/home/mysql/data/my3/my.error

mysqlx-port=33300
mysqlx-socket=/home/mysql/data/my3/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin

gtid-mode=on
enforce-gtid-consistency
log-slave-updates=true

master_info_repository=TABLE
relay_log_info_repository=TABLE

server-id=203
binlog-checksum=none
