[mysqld]
datadir=/home/mysql/data3
basedir=/usr/local/mysql
#basedir=/usr
port=3326
socket=/home/mysql/data3/my.sock
log-bin
binlog-format=row
#binlog-checksum=NONE
server-id=103
# enable gtid
gtid-mode=on
enforce-gtid-consistency=true
log-replica-updates=true
# Table based repositories
#master-info-repository=TABLE
#relay-log-info-repository=TABLE
# Extraction Algorithm
#transaction-write-set-extraction=XXHASH64
