<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oracle MySQL - PyCON TW 2016</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="main">Home</a>
                    </li>
                    <li role="presentation"><a href="showLogon">Logon</a>
                    </li>
                    <li role="presentation"><a href="showRegistration">Register</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python and MySQL</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Creating Python Application with MySQL</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showRegistration" role="button">Click Me to Register</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>MySQL</p>
        </footer>
 
    </div>
</body>
</html>
