[mysqld]
datadir=/home/mysql/data/3306
basedir=/usr/local/mysql
log-error=/home/mysql/data/3306/my.error
port=3306
socket=/home/mysql/data/3306/my.sock
mysqlx-port=33060
mysqlx-socket=/home/mysql/data/3306/myx.sock
log-bin=logbin
relay-log=logrelay
#binlog-format=row
#binlog-checksum=NONE
server-id=901

# enable gtid
gtid-mode=on
enforce-gtid-consistency=true
log-replica-updates=true

# Table based repositories
#master-info-repository=TABLE
#relay-log-info-repository=TABLE

# Extraction Algorithm
#transaction-write-set-extraction=XXHASH64
#report-host=workshop47

# replication filter
replicate-ignore-db=channel1:mysql_innodb_cluster_metadata
replicate-ignore-db=drchannel1:mysql_innodb_cluster_metadata
binlog-ignore-db=mysql_innodb_cluster_metadata

# parallel replica
replica_parallel_type=LOGICAL_CLOCK
replica_parallel_workers=2
replica_preserve_commit_order=1
#binlog_transaction_dependency_tracking=WRITESET

# 7 days expire days
# default is 30 days = 2592000
binlog_expire_logs_seconds=604800
