[mysqld]
datadir=/home/mysql/data/3350
basedir=/usr/local/mysql
log-error=/home/mysql/data/3350/my.error
port=3350
socket=/home/mysql/data/3350/my.sock
mysqlx-port=33500
mysqlx-socket=/home/mysql/data/3350/myx.sock
log-bin=logbin
relay-log=logrelay
#binlog-format=row
#binlog-checksum=NONE
server-id=105

# enable gtid
gtid-mode=on
enforce-gtid-consistency=true
log-replica-updates=true

# Table based repositories
#master-info-repository=TABLE
#relay-log-info-repository=TABLE

# Extraction Algorithm
#transaction-write-set-extraction=XXHASH64
#report-host=workshop47

# skip start replica
skip-replica-start=1


# parallel replica
replica_parallel_type=LOGICAL_CLOCK
replica_parallel_workers=2
replica_preserve_commit_order=1
#binlog_transaction_dependency_tracking=WRITESET


# 7 days expire days
# default is 30 days = 2592000
binlog_expire_logs_seconds=604800


