[mysqld]
datadir=/home/mysql/data/04
basedir=/usr/local/mysql
port=3306
socket=/home/mysql/data/04/mysqld.sock
#character-set-server=utf8
log-error=/home/mysql/data/04/mysqld.error
sql-mode=NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY
