doctype html
html(lang="en")
  head
    title JQuery Ajax - Bootstrap - NodeJS/Express - MySQL
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="javascripts/getrequest.js")
    script(src="javascripts/postrequest.js")
   
  body
   div.container
     div.col-sm-4
       h3 NodeJS/Express Post/Get Ajax
       div
         form#customerForm
           div.form-group
             label(for="firstname") FirstName:
             input.form-control#firstname(type="text" placeholder="Enter FirstName")
           div.form-group
             label(for="lastname") LastName:
             input.form-control#lastname(type="text" placeholder="Enter LastName")
           button(type="submit" class="btn btn-default") Submit
       div#postResultDiv
       br
       div
         button(id="allCustomers" type="button" class="btn btn-default") Customers
         div#getResultDiv
            table.mytable(border=1 width=400)
              tr
                th ID
                th First Name
                th Last  Name
              tbody#list-group
