[mysqld]
datadir=/home/mysql/data/3326
basedir=/usr/local/mysql
port=3326
socket=/home/mysql/data/3326/mysqld.sock
log-error=/home/mysql/data/3326/mysqld.error

mysqlx-port=33260
mysqlx-socket=/home/mysql/data/3326/myx.sock

log-bin=mysqllog.bin
relay-log=relay.bin
log-slave-updates=true

gtid-mode=on
enforce-gtid-consistency
master_info_repository=TABLE
relay_log_info_repository=TABLE

server-id=103
binlog_checksum=none

early-plugin-load=keyring_encrypted_file.so
keyring_encrypted_file_data=/home/mysql/data/3326/mysql-keyring/keyring-encrypted
keyring_encrypted_file_password=password
