[mysqld]
datadir=/home/mysql/data/lab22
basedir=/usr/local/mysql
port=3306
socket=/home/mysql/data/lab22/mysqld.sock
character-set-server=utf8mb4
log-error=/home/mysql/data/lab22/mysqld.error
#sql-mode=NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY,NO_AUTO_CREATE_USER
explicit_defaults_for_timestamp
secure-file-priv=NULL
#innodb_page_cleaners=4
#innodb_page_size=64K
#innodb_buffer_pool_instances=4
keyring_file_data=/home/mysql/data/lab22/mykey
early-plugin-load=keyring_file.so
