[mysqld]
datadir=/home/mysql/data/lab21
basedir=/usr/local/mysql
port=3310
mysqlx-port=33100
mysqlx-socket=/home/mysql/data/lab21/mysqldx.sock
socket=/home/mysql/data/lab21/mysqld.sock
log-error=/home/mysql/data/lab21/my.error

